DATABASE_URL=postgresql://user:password@db:5432/price_monitor
SECRET_KEY=your_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=price_monitor
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id
CHECK_INTERVAL_HOURS=6