DATABASE_URL=postgresql://postgres:postgres@db:5432/pricemonitor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pricemonitor
SECRET_KEY=ChaveKKKKK
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALLOWED_ORIGINS=*